body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif;
    max-width: 1280px;
    background-color: #5e5b5bad;
    color: #333333;
}

body.dark-mode {
  background-color: var(--color-black-dark);
  color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
